*,
*:before,
*::after {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
}

body {
    font-family: sans-serif;
    background-color: #33cc99;
    color: white;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
}

.conteiner {
    position: relative;
    width: 100%;
    max-width: 480px;
    text-align: center;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.search {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}

#speakbt {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: white;
    color: #33cc99;
    border: 8px solid #ECF7F3;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

#speakbt:hover {
    border-color: #BEF0DF;
}

#speakbt:active {
    background-color: #ECF7F3;
}

#resultSpeak {
    position: relative;
    display: block;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 40px;
}